* {
    font-family: Roboto;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 450px;
    height: 265px;
    background-color:deepskyblue;
    border-radius: 20px;
}

.content {
    margin-left:  24px;
}

.box {
    height: 20px;
    width: 392px;
    margin-bottom: 5px;
} .output_box {
    margin-bottom: 15px;
}

.button {
    margin-top: 5px;
    border-radius: 20px;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
    width: 170px;
    transition: box-shadow 0.15s;
    border: 2px solid;
} .button:hover {
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.title {
    font-size: 30px;
}